*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.scalafmt.conf
.bsp/sbt.json
.metals/** 
metals.lock.db/** 
project/** 
target/**
settings.json

